@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-primary text-primary;
  }

  
}
html{
  scroll-behavior: smooth;
  transition: all;
transition-duration: 9000;
}
.disabled{
  opacity: 0.6;
  cursor: not-allowed;
  pointer-events: none;
}
.before::before {
  content: "";
  border-width: 20px;
  border-style: solid;
  border-color: transparent transparent rgb(209 213 219) transparent;
  position: absolute;
  right:2px;
  top: -40px;
}